.balloon-left, .balloon-right {
  margin: 30px 0;
  display: flex;
  align-items: flex-start;
}

.balloon-left {
  justify-content: flex-start;
}

.balloon-right {
  justify-content: flex-end;
}

.balloon-left .balloon-icon {
  margin-right: 25px;
}

.balloon-right .balloon-icon {
  margin-left: 25px;
  order: 2 !important;
}

.balloon-icon img {
  width: 80px;
  height: auto;
  color: red;
}

.balloon-text {
  max-width: 75%;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  position: relative;
  padding: 17px 13px 15px 18px;
  border-radius: 12px;
  background: white;
  box-sizing: border-box;
  margin: 0 !important;
  line-height: 1.5;
  word-break: break-all;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
}

.balloon-text p {
  margin: 8px 0 0 !important;
  color: #333333;
}

.balloon-text p:first-child {
  margin-top: 0 !important;
}

.balloon-text:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
}

.balloon-left .balloon-text:after {
  left: -26px;
  border-right: 22px solid white;
}

.balloon-right .balloon-text:after {
  right: -26px;
  border-left: 22px solid white;
}
